a {
    color: gray;
}

a:hover {
    color: #333333;
}

#navbar-name {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    background-color: rgb(68, 135, 194);
}

#contact, 
#portfolio, 
#about-me {
    padding: 15px;
}

.col-md-6 {
    padding: 10%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: dimgray;
    border-top: 7px solid rgb(68, 135, 194);
}
